{% extends 'micro/random.html.twig' %}

{% block header %}

{% endblock %}

{% block intro %}

    <div class="container" style="margin-top:100px;">

        <ol class="breadcrumb">
            <li><a href="{{ path('home_page') }}">На главную</a></li>
            <li><a href="{{ path('contact') }}">Контакты</a></li>

            <li class="active">О нас</li>
        </ol>

        <div class="row top">

            <!-- Article main content -->
            <article class="col-sm-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">О Нас</h1>
                </header>
                <h3>Какие ассоциации у Вас возникают, когда слышите слово “переезд”?</h3>
                <p><img src="images/mac.jpg" alt="" class="img-rounded pull-right" width="300" > Приятные хлопоты, ожидание нового или уже подготовка к обустройству нового своего уютного местечка? Вряд ли.</p>
                <p>Скорее всего у Вас в голове рождаются сразу тысячи вопросов:</p>
                <h4> - Как вывезти из офиса этот стокилограммовый сейф?</h4>
                <h4> - Как уложить коробки с вещами так, чтоб при перевозке в них не побились хрупкие вещи?</h4>
                <h4> - Как мне лучше упаковать любимую одежду?</h4>
                <p>И еще много таких!</p>
                <p>   А финальный, вопрос, и самый верный -</p>
                <h3>Может это все лучше сделает кто-то другой?</h3>
                <p>Когда сломан кран, проще позвать сантехника, чем тратить время и пытаться чинить все самому, а потом еще и бороться с потопом и тд. Так и при переезде. Лучше заказать услуги перевозок и возложить на профессионалов все эти сложные дела, для которых переезды – это профессия!</p>
                <br> <p><b>Берегите себя и свое время!</b></p>
            </article>
            <!-- /Article -->

            <!-- Sidebar -->
            <aside class="col-sm-4 sidebar sidebar-right">



            </aside>
            <!-- /Sidebar -->
        </div>
        <div class="row">
            <h2 class="text-center top-space"><br>Частозадаваемые вопросы:</h2>
            <br>

            <div class="row">
                <div class="col-sm-6">
                    <h3>Как все предусмотреть при переезде? </h3>
                    <p>Так как же все сделать: самому или делегировать профи? Мы предоставляем не только перевозку Ваших вещей, а также услуги грузчиков, упаковщиков и сборку и разборку мебели. Да, личные вещи все равно придется собирать самому, но Вам не придется мучатся с мебелью и крупной бытовой техникой. А также в нашей компании есть услуги по доставке коробок и других необходимых инструментов — не нужно будет тратить время и нервы на забеги по магазинам.
                        Далее трезво оцените количество вещей, которые нужно транспортировать, и свяжитесь с нами. Мы сможем точно сказать, сколько времени может занять погрузка/разгрузка и какое количество грузчиков вам понадобится. Если вы переживаете, что не уложитесь в ограниченный по времени, выбирайте комплексные тарифы: расценки обычно зависят от количества комнат в квартире.
                        Точно знать масштабы «бедствия» необходимо не только для просчета тарифов: если вы не из минималистов, вряд ли вам на сборы хватит пары вечеров после работы (когда вы и так будете уставшими) — лучше взять отгул и за один день и с квалифицированной помощью выполнить это тяжелое дело – переезд. </p>
                </div>
                <div class="col-sm-6">
                    <h3>Офисные переезды:</h3>
                    <p>Компания расширяется и нужен офис побольше? Или открываете новую кофейню в центре Харькова? Мы точно знаем, как перевезти все оборудование точно в сроки к открытию, при этом сохраним все в целости!</p>
                </div>
            </div> <!-- /row -->

            <div class="row">
                <div class="col-sm-6">
                    <h3>Дачные переезды:</h3>
                    <p>
                        Ребенку летом в городе уж точно нечего делать, да и жене пора бы отдохнуть! Устройте ей летние каникулы на даче, только не старайтесь впихнуть все ее вещи к себе в багажник – это невозможно! Лучше будет просто позвонить нам – с нами точно сарафаны не помнутся и баночки с косметикой не разобьются.
                    </p>
                </div>
                <div class="col-sm-6">
                    <h3>Такелажные работы:</h3>
                    <p>Сейфы и банкоматы – самое тяжелое при перевозке – это мы уж точно знаем! А еще знаем, как их перевезти правильно – снятие крепежей и закрепление его на специализированном поддоне в авто – это точно работа для профи!</p>
                </div>
            </div> <!-- /row -->
        </div>
    </div>
{% endblock %}