{% extends 'micro/random.html.twig' %}
{% block header %}
    <header id="head">
        <div class="container">
            <div class="head">

                <h1 id="first_page">Грузчики Харьков Грузоперевозки </h1>

            </div>

        </div>

    </header>
{% endblock %}



{% block intro %}


    <div class="container text-center">
        <br>
        <a href="{{ path('contact') }}"><button type="button" class="btn btn-success btn-lg">Заказать Услуги</button></a>

        <br> <br>
        <h2 class="thin">Как пережить переезд, и не сойти сума?</h2>
        <p class="text" style="text-align: justify; font-size: 17px">
            Задались уже этим вопросом?
            А может просто выпьете чашечку кофе, а мы все сделаем за Вас?
            Да, мы это можем! Сделаем все – начиная от надёжной упаковки хрупких вещей и сборке мебели, заканчивая аккуратной перевозкой и трепетной загрузкой.
            Занести пианино на 8-й этаж? Легко!
            Упаковать бабушкин сервиз и не разбить его при перевозке на дачу? Мы это можем!
            Собрать шкаф правильно, не мучаясь от вопросов «А куда эта деталь?» Это тоже про нас
        </p>
    </div>
{% endblock %}
{% block HightLights %}
    <div class="jumbotron top-space">
        <div class="container">

            <h3 class="text-center thin">Наши преимущества:</h3>

            <div class="row">

                <div class="col-md-4 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-clock-o fa-5"></i>Время</h4></div>
                    <div class="h-body text-center">
                        <p>При составлении заявки, мы оговорим время переезда и уложимся точно в срок! Улиток у нас в команде нет!</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-power-off fa-5"></i>Сила</h4></div>
                    <div class="h-body text-center">
                        <p>наши работники ведут здоровый образ жизни и поэтому готовы к любым нагрузкам, и Вам не стоит беспокоится о Вашей спине!</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Находчивость</h4></div>
                    <div class="h-body text-center">
                        <p>мы все играли в детстве в тетрис, но мы были победителями! – Рационально все упакуем и уложим в машину!</p>
                    </div>
                </div>
            </div> <!-- /row  -->

        </div>
    </div>
{% endblock %}
{% block container %}
    <div class="container">
        <div class="row">
            <br>
                <div class="text-center" style="font-size: 46px; font-weight: bold;"> Звони!</div>

                <address class="text-center" style="font-size: 20px" >
                    <div class="col-sm-4">  <a href="tel:+380508423067"> <button type="button" class="btn-success btn-lg"> (050) 987-8597 </button> </a><br></div>
                    <div class="col-sm-4">  <a href="tel:+1234567890"> <button type="button" class="btn-success btn-lg"> (050) 987-8597 </button> </a><br></div>
                    <div class="col-sm-4">  <a href="tel:+1234567890"> <button type="button" class="btn-success btn-lg"> (050) 987-8597 </button> </a></div>
                </address>

        </div>
            <h2 class="text-center top-space"><br>Некоторые услуги:</h2>
            <br>

            <div class="row">
                    <div class="col-sm-6">
                        <h3>Квартирные переезды: </h3>
                        <p>Вы обладатель новой квартиры в Харькове? Поздравляем! А еще поможем тебе за 1 день переехать в свое новое уютное семейное «Гнездышко», без потерь и побитой посуды! Все упакуем, сложим, соберем, погрузим, довезем, разгрузим. </p>
                    </div>
                <div class="col-sm-6">
                    <h3>Офисные переезды:</h3>
                    <p>Компания расширяется и нужен офис побольше? Или открываете новую кофейню в центре Харькова? Мы точно знаем, как перевезти все оборудование точно в сроки к открытию, при этом сохраним все в целости!</p>
                </div>
            </div> <!-- /row -->

        <div class="row">
            <div class="col-sm-6">
                <h3>Дачные переезды:</h3>
                <p>
                    Ребенку летом в городе уж точно нечего делать, да и жене пора бы отдохнуть! Устройте ей летние каникулы на даче, только не старайтесь впихнуть все ее вещи к себе в багажник – это невозможно! Лучше будет просто позвонить нам – с нами точно сарафаны не помнутся и баночки с косметикой не разобьются.
                </p>
            </div>
            <div class="col-sm-6">
                <h3>Такелажные работы:</h3>
                <p>Сейфы и банкоматы – самое тяжелое при перевозке – это мы уж точно знаем! А еще знаем, как их перевезти правильно – снятие крепежей и закрепление его на специализированном поддоне в авто – это точно работа для профи!</p>
            </div>
        </div> <!-- /row -->



    </div>	<!-- /container -->
{% endblock %}

